<form #fRegistro="ngForm" (ngSubmit)="registrarBebe(fRegistro)">
    <ion-grid fixed>

        <ion-row>
            <ion-col>
                <img class="pick-avatar" src="/assets/baby.png">
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>

                <ion-list>

                    <ion-item>
                        <ion-label position="floating">Nombres</ion-label>
                        <ion-input name="nombres" [(ngModel)]="registroBebe.nombres" type="text" required></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating">Apellidos</ion-label>
                        <ion-input name="apellidos" [(ngModel)]="registroBebe.apellidos" type="text" required></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating">Fecha de nacimiento</ion-label>
                        <ion-datetime name="fechaNacimiento" [(ngModel)]="registroBebe.fechaNacimiento" value="2010-04-15" min="2000-02" max="2020"
                            [dayShortNames]="customDayShortNames"
                            displayFormat="MMM DD, YYYY"
                            monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic"> required</ion-datetime>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating">Manilla</ion-label>
                        <ion-input name="id" [(ngModel)]="registroBebe.id" type="text" required></ion-input>
                    </ion-item>

                </ion-list>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-button type="submit">
                    Registrar
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</form>