<ion-header>
    <ion-toolbar>
        <ion-title>
            Bebé
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-img src="/assets/grafica.PNG"></ion-img>
        <ion-card-header>
            <ion-card-subtitle>Temperatura</ion-card-subtitle>
            <ion-card-title>Estado del bebé.</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>Aquí podemos ver la temperatura del bebé actualmente.</p>
        </ion-card-content>
    </ion-card>
</ion-content>